html, body {width:100%; height:100%; padding:0px; margin:0px;overflow:hidden; font-size:85%;font-family:Arial}

#pageMap{height:100%;}

#mainContent {width:99%; height:100%; margin:0 auto; position:relative; }
#mainContent .ui-input-text{font-size:14px;}
#mainContent .ui-btn-inner{font-size:14px;}

#mainContent h2 {margin-bottom:10px; height:60px; }
#mainContent h2 img {float:left; cursor:pointer; height:40px; margin-left:20px; }
#mainContent h2 label {float:right; text-align:left; margin-right:10px;  color:#999999;}
#mainContent .login_signup {float:left; width:43.8%; padding:2%; position:relative; margin-top:30px; }
#mainContent .login_signup h2 {height:25px !important;}
#mainContent label.ui-input-text {font-size:14px;}
#mainContent .ui-checkbox {width:170px; margin-top:15px;}
#mainContent .ui-btn-text {font-size:14px; }
#mainContent .msg {text-align:left; margin-top:5px;  color:#ff0000; border-top:0px solid #cccccc; position:absolute; left:30px; width:220px;}

#user_login .ui-submit {float:right; top:-50px; }

#user_signup .ui-submit {float:right;}
#user_signup #signup_loading {float:right; margin-top:10px; margin-right:20px; display:none}

#oauth {position:absolute !important; right:20px;  text-align:right; top:55px;}
#oauth img {height:40px; cursor:pointer; }

#dialog_forgetPW {padding:40px; width:500px; height:200px;}
#dialog_forgetPW div.ui-input-text {margin:20px 5px 20px 5px; }
#dialog_forgetPW a.ui-btn {float:right;}
#forgetPW_msg {position:absolute; bottom:30px; right:50px; color:#ff0000;}

